In [14]:
import pandas as pd

#------------- Series -------------

    # DataFrame is a two-dimensional table with labeled rows and columns.

lst = pd.Series([1,2,3,4])

s

lst_with_custom_index = pd.Series([1,2,3,4],index=["one","two","three","four"])

lst_with_custom_index

dic = {"a":1,"b":2,"c":3}

series_from_dic = pd.Series(dic)

series_from_dic

a    1
b    2
c    3
dtype: int64

In [18]:


#------------- DataFrame -------------

    # DataFrame is a two-dimensional table with labeled rows and columns.

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}

data_frame = pd.DataFrame(data)

data

data_frame_with_cus_ind = pd.DataFrame(data,index=["emp1","emp2","emp3"])

data_frame_with_cus_ind

missing_data = [
    {'Name': 'Alice', 'Age': 25},
    {'Name': 'Bob', 'Age': 30},
    {'Name': 'Charlie', 'Age': 35, 'Salary': 70000}  # Missing 'Salary' for others
]

data_frm_wth_msng_data = pd.DataFrame(missing_data)

data_frm_wth_msng_data

      Name  Age   Salary
0    Alice   25      NaN
1      Bob   30      NaN
2  Charlie   35  70000.0

In [23]:


#------------- Index -------------

    # The Index is used to uniquely identify rows in a Series or DataFrame.

lst.index

#setting custom index
data_frm_wth_msng_data.set_index('Name',inplace=True)

data_frm_wth_msng_data

KeyError: "None of ['Name'] are in the columns"